<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>개발자에게 보내는 피드백</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 피드백 게시판-->
<h1>메일 보내기</h1>

<form th:action="@{/develop/feedback}" method="post">
    <table>
        <tr>
            <td>메일 주소</td>
            <td>
                <input type="text" name="address" placeholder="이메일 주소를 입력하세요">
            </td>
        </tr>
        <tr>
            <td>제목</td>
            <td>
                <input type="text" name="title" placeholder="제목을 입력하세요">
            </td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea name="content" placeholder="보낼 내용을 입력하세요"> </textarea>
            </td>
        </tr>
    </table>
    <button>발송</button>
</form>

<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>
<script th:src="@{/feedbackJS.js}"></script>
</body>
</html>